flask
Jinja2
pytest
pyyaml
firebase-admin
requests==2.32.3
protobuf==5.29.5
google-cloud-logging
google-cloud-firestore
google-cloud-aiplatform
langchain
langchain-experimental==0.3.4
langchain-community
langchain-google-vertexai
pymupdf 
langchain-core<2.0.0
langchain-text-splitters<2.0.0